*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

header {
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img{
  width: 60px;
  vertical-align: middle;
}

h1{
  display: inline-block;
  line-height: 60px;
  vertical-align: middle;
  font-size: 24px;
}

#play{
  padding: 5px 30px;
}

main{
  width: 100%;
  height: 600px;
  background-color:beige;
  padding-top: 50px;
}

#grid{
  height: 500px;
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
  overflow-y: auto;
}

.d-none{
  display: none;
}

.show{
  display: flex;
}

.square{
  border: #505050 2px solid;
  width: calc(100% / 10);
  height: calc(100% / 10);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #505050;
}

.square.clicked{
  background-color: rgb(241, 168, 99);
}

footer {
  height: 50px;
  background-color: #fff;
  padding: 20px;
}


